h1 {
  color: #f00;
}

.hidden {
  display: none;
}

.token {
  border: 1px solid #000;
  width: 220px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
}

.token:nth-last-of-type(1) {
  margin-right: 0;
}

.token h1 {
  margin: 0;
}

.token table {
  width: 100%;
}

.token table td {
  text-align: center;
}
